@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
    margin: 2.5px;
    padding: 2.5px; 
    font-family: 'Geologica', serif;
}

:root {
    --color-background-100: #EAA221;


    --font-size-xs: 1em;
    --font-size-small: 1.95em;
    --font-size-medium: 3em;
    --font-size-large: 3.5em;

    --font-weight-thin: 400;
    --font-weight-normal: 600;
    --font-weight-bold: 800;
}

h1 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    background-color: var(--color-background-100);
}

h2 {  
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    text-align: center;
    padding: 15px;
}

p {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-thin);
    text-align: center;
    padding: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    
}

li {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-thin);
    text-align: center;
    padding: 5px;
}
