@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{font-family: "Geologica", sans-serif;}

.Landing-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    text-align: center;
    
  }

.landingH1 h1 {
    font-size: 50px;
}

strong{
  color: #EAA221;
}

.landingButton {  
    font-size: 40px;
    margin-top: 20px;
    color: white;
    background-color: #EAA221;
    padding: 30px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.95);
    transition: transform 0.3s ease, background-color 0.3s ease; /* <-- Add this */

  }

  .landingButton:hover {
    transform: scale(1.1);
    background-color: grey;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease forwards;
  }