@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{font-family: "Geologica", sans-serif;}

.Landing-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    
  }

.landingH1 h1 {
    font-size: 40px;
}

.landingButton {  
    font-size: 40px;
    margin-top: 20px;
    background-color: grey;
    color: white;
    padding: 30px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }

  .landingButton:hover {
    transform: scale(1.1);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease forwards;
  }
  