.quiz-container{
    border: solid black 4px;
    margin: 10px 0;
    padding: 15px 30px;
    width: 100%;
}

.answer-section{
    display: flex;
    flex-direction: column;
}

.answer-section div{
    margin: 5px 0;
}

.answer-button:hover {
    background-color: grey;
}

#question-header{
    font-size: 32px;
    font-weight: bold;
}

#question-text{
    font-size: 24px;
}

h1 {
    margin-bottom: 0;
    font-size: 36px;
}

label {
    font-size: 20px;
}

input[type='radio'] {
    transform: scale(1.75);
    margin-right: 15px;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
}

.submit-btn-container button {
    transform: scale(1.5);
}

.score-msg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers it exactly */
    z-index: 9999;
    
    width: 350px;
    padding: 150px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5%;
    font-size: 28px;
}